---
# Deploy Buildkite hooks

- name: Deploy pre-command hook
  template:
    src: hooks/pre-command.j2
    dest: "{{ buildkite_hooks_path }}/pre-command"
    owner: buildkite-agent
    group: buildkite-agent
    mode: '0755'
  become: yes
  notify: restart buildkite-agent

- name: Deploy environment hook
  template:
    src: hooks/environment.j2
    dest: "{{ buildkite_hooks_path }}/environment"
    owner: buildkite-agent
    group: buildkite-agent
    mode: '0755'
  become: yes
  notify: restart buildkite-agent

- name: Deploy pre-exit hook
  template:
    src: hooks/pre-exit.j2
    dest: "{{ buildkite_hooks_path }}/pre-exit"
    owner: buildkite-agent
    group: buildkite-agent
    mode: '0755'
  become: yes
  notify: restart buildkite-agent
